<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myevent">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".EventPlanner.ConfirmForm"></activity>
        <activity android:name=".EventPlanner.CardView.CustomerPostView" />
        <activity android:name=".EventPlanner.EventPlannerUpdateEmail" />
        <activity android:name=".EventPlanner.EventPlannerUpdateName" />
        <activity android:name=".EventPlanner.EventPlannerSignIn" />
        <activity
            android:name=".Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".EventPlanner.EventNavigationBar$evtnotification4567" />
        <activity android:name=".EventPlanner.EventPlannerMessage" />
        <activity android:name=".EventPlanner.EventPlannerCustomerPost" />
        <activity android:name=".EventPlanner.EventPlannerPostAdds" />
        <activity android:name=".EventPlanner.EventPlannerProfile" />
        <activity android:name=".forgotpassword1" />
        <activity android:name=".Forgotpassword" />
        <activity android:name=".Home" />
        <activity android:name=".SignUp" />
        <activity android:name=".Login" />
        <activity android:name=".post_ad" />
        <activity android:name=".select_ad" />
        <activity android:name=".edit_ad" />
        <activity android:name=".event_details" />
        <activity android:name=".Register" />
        <activity
            android:name=".Afterlogin"
            android:label="My Event"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".EditDeleteEventpart2"
            android:parentActivityName=".EditDeleteEventpart1" />
        <activity android:name=".EditDeleteEventpart1" />
        <activity
            android:name=".EventPlanner.EventNavigationBar"
            android:label="My Event"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".EventPlanner.EventPlannerWelcomePage" />
        <activity android:name=".EventPlanner.EventPlannerRegister2" />
        <activity
            android:name=".Myallevents"
            android:parentActivityName=".Aftereventadded" />
        <activity
            android:name=".Aftereventadded"
            android:label="My Event"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".EventPlanner.EventPlannerRegister1" />
        <activity
            android:name=".Splash"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Addevent2"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>